<appSettings>
  <add key="BaseUrl" value="http://localhost:7654" />
  <!--<add key="DBSource" value="MSSQL" />-->
  <!--<References>
    <Reference
      Name = "package.json"
      AssemblyName = "package.json"
      HintPath = "\\app\GeocodeService\package.json"
    />
  </References>-->

  <!--<add key="procNameString" value="geo_spGetNextMissingGeocode_inf" />-->
  <!--<add key="parameterKeys" value="" />-->
  <!--<add key="serviceName" value="" />-->
  <!--<add key="endpointName" value="program" />-->  
</appSettings>