<appSettings>
  <add key="BaseUrl" value="http://localhost:7654" />

  <add key="procNameString" value="geo_spGetNextMissingGeocode_inf" />
  <!--<add key="parameterKeys" value="" />-->
  <!--<add key="serviceName" value="" />-->
  <!--<add key="endpointName" value="program" />-->
</appSettings>